<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Enlaza tu CSS -->
</head>
<body>
    <h1>Galería de Imágenes</h1>
    <div class="gallery">
        {{#each files}}
            <div>
                <img src="{{this.url}}" alt="Imagen">
            </div>
        {{/each}}
    </div>

    <div class="upload-container">
        <a href="/upload" class="upload-button">Subir una nueva imagen</a>
    </div>
</body>
</html>
